@font-face {
    font-family: 'Roboto-Bold';
    src: url('/assets/fonts/Roboto-Bold.eot');
    src: url('/assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg'),
    url('/assets/fonts/Roboto-Bold.ttf') format('truetype'),
    url('/assets/fonts/Roboto-Bold.woff') format('woff'),
    url('/assets/fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
    url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Black';
    src: url('/assets/fonts/RobotoSlab-Black.eot');
    src: url('/assets/fonts/RobotoSlab-Black.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/RobotoSlab-Black.svg#RobotoSlab-Black') format('svg'),
    url('/assets/fonts/RobotoSlab-Black.ttf') format('truetype'),
    url('/assets/fonts/RobotoSlab-Black.woff') format('woff'),
    url('/assets/fonts/RobotoSlab-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('/assets/fonts/Roboto-Medium.eot');
    src: url('/assets/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg'),
    url('/assets/fonts/Roboto-Medium.ttf') format('truetype'),
    url('/assets/fonts/Roboto-Medium.woff') format('woff'),
    url('/assets/fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Regular';
}

* {
    box-sizing: border-box;

}



header {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
}

header.fixed {
  position: fixed;

}

.container {
    width: 100%;
    max-width: 1286px;
    padding: 0 15px;
    margin: 0 auto;
    display: block;
}

.mainParent {
    max-width: 1375px;
    width: 100%;
    display: flex;
    align-items: center;
}

.mainLink {
    width: 100%;
    max-width: 610px;
    display: flex;
    align-items: center;
}


.logo_h {
    display: inline-block;

    vertical-align: middle;
}

.logo {
    margin-right: 62px;
}

.nav-h {
    display: inline-block;
    vertical-align: middle;


}

.headerParent {
    max-width: 1370px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.link-h{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-style: normal;
    color: #4D5777;
    text-decoration: none;
    margin-right: 12px;
    font-family: 'Roboto-Medium';

}


.main-c::after {
    content: "";

    display: inline-block;

    width: 6px;
    height: 6px;
    border-right: 2px solid #00B3C1;
    border-bottom: 2px solid #00B3C1;
    margin-left: 8px;
    transform: rotate(45deg);

}



.call {

    font-size: 16px;
    text-align: right;
    text-decoration: none;
    color: #4D5777;

    display: inline-block;
    font-family: 'Roboto-Medium';




}

.call::before {


    content: "";
    display: inline-block;
    vertical-align: middle;

    border-radius: 50%;
    padding: 20px;
    background-color: #00B3C1;
    margin-right: 18px;


    background-image: url(/assets/img/phone.svg);
    background-size: 18px;
    background-position: center center;
    background-repeat: no-repeat;


}


.reg {
    vertical-align: middle;
    margin-left: auto;
    display: flex;
    align-items: center;

}

.btn {
    max-width: 160px;
    width: 100%;
    border: 2px solid #00B3C1;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #fff;
    padding: 12.5px 28px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto-Medium';
    color: #4D5777;
    outline: 0;
}

.btn:hover {
    background-color: #00B3C1;
    cursor: pointer;
    color: #fff;
    border: #00B3C1;

}

.wantprog {
    position: relative;
    padding-top: 52.5%;

}

.wantprog__parent {
    top: 50%;
    left: 50%;
    display: block;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    padding-bottom: 117px;
}

.mainInfoBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -90px;
    z-index: 1;
}

.wantprogText {

    font-size: 32px;
    font-family: 'Roboto Slab';
    line-height: 1.5;
    color: #fff;
    text-align: center;
    max-width: 540px;
    width: 100%;

    margin: 0 auto 90px auto;

}


.fone {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}


.wantprog::after {
    content: "";
    background: #4d5777;
    position: absolute;
    display: inline-block;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.buttons {
    text-align: center;
    margin: 0 12px;
}

.btn-first {
    max-width: 240px;
    width: 100%;
    padding: 23px 10px;
    border: 3px solid #fff;
    outline: none;
    background: transparent;
    font-size: 16px;
    text-align: center;
    color: #fff;

}

.btn-second {
    max-width: 240px;
    width: 100%;

    display: inline-block;
    vertical-align: middle;
    padding: 23px 10px;
    border: 3px solid #fff;
    box-sizing: border-box;

    outline: none;
    background: transparent;

    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #fff;
}


.takecurse {
    max-width: 1256px;
    width: 100%;
    border-radius: 4px;
    background: #fff;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(162, 171, 189, 0.3);
    padding: 47px 0px 44px;
    z-index: 1;
}

.takecurse-title {
    text-align: center;
    font-size: 18px;
    font-family: Roboto Slab;
    color: #4D5777;
    line-height: 1.5;
    position: relative;
    padding-bottom: 39px;
    margin: auto;

    max-width: 497px;
    width: 100%;
}


.figure {

    /*position: relative;*/
    /*top: 75%;*/
    display: flex;
    justify-content: center;
    margin-bottom: 0;

}


.figure-item {
    width: 5px;
    padding: 3px;
    background: #00B3C1;
    margin-right: 48px;

}



.curse {
    display: flex;
    background: #E9F0F6;
    padding-top: 177px;
    padding-bottom: 96px;
}

.curse__item {
    text-align: center;
    position: relative;
}


.curse__title {
    font-family: 'Roboto Slab';
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    color: #354975;
    margin: 0;
}

.curse__text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #4D5777;
    margin-bottom: 41px;
}


.take_curse.curseFirst {
    position: absolute;
    max-width: 295px;
    width: 100%;
    z-index: 1;
}


.curse__title-curse {
    font-size: 18px;
    text-align: center;
    color: #354975;
    margin: 0;
    margin-bottom: 31px;
}


.curse__title-curse-first {
    color: #354975;
    margin: 0;
    margin-bottom: 20px;
}

.curse__text-curse-first  {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.curse__text-curse {
    font-size: 16px;
    text-align: center;

    color: #151D29;
    font-family: Roboto;
}


.curse__all {
    color: #00B3C1;
    text-decoration: none;
}


/* Блоки */
.owl-curse {
    width: calc(100% - 253px );
}


.owl-next, .owl-prev  {
    position: absolute;
    top: 40%;
    right: 1%;
    transform: translate(-40%, -1%);
    margin-right: calc(100% - 99%);


}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    font-size: 35px;
    color: #00B3C1;
}

.disabled {
    display: none;
}

.curse__block {
    position: relative;
    width: 296px;
    height: 380px;
    background: #fff;
    border-radius: 4px;
    text-align: center;

}

.take_curse {
    padding-top: 51px;
    width: 100%;
    max-width: 215px;
    margin: auto;
}

.curse__block-hidden:hover {
    opacity: 1;
    z-index: 2;
}

.curse__block-hidden {
    position: absolute;
    opacity: 0;
    background-color: #fff;
    background: linear-gradient(180deg, #00B3C1 0%, #1188B2 100%);
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    padding-top: 65px;
}

.curse__block.hidden:hover {
    background: linear-gradient(180deg, #00B3C1 0%, #1188B2 100%);
    opacity: 1;
}

.curse__text-hidden {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 85%;
    margin-bottom: 103px;
}


.btn-hidden {

    max-width: 160px;
    width: 100%;
    border: 2px solid #FFFFFF;
    background: transparent;
    border-radius: 100px;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;

    outline: 0;
}



.choose__curse {
    display: flex;

}



.curse__block-curse {
    max-width: 295px;
    width: 100%;
    padding-top: 64px;
}

.owl-item {
    max-width: 296px;
    width: 100%;
}

.owl-curse .owl-item img {
    display: block;
    width: 163px;
    height: 107px;
    margin: 0 auto;
    margin-bottom: 39px;
    object-fit: contain;
}



.owl-carousel .owl-stage-outer {
    margin-bottom: 81px;
}

.btn__curse {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 241px;
    width: 100%;
    padding: 25px;
    border: 4px solid #00B3C1;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    color: #00B3C1;
    cursor: pointer;
    outline: 0;

}

.btn__curse:hover {
    color: #fff;
    background: #00B3C1;

}


.training {
    padding: 87px 0;
    display: flex;
    font-size: 0;
}



.training__title {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    color: #354975;
    margin-bottom: 9px;
}

.training__text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #4D5777;
    font-weight: normal;
    margin-bottom: 55px;
}

.training__img {
    width: 50%;
    display: inline-block;
    vertical-align: top;

}



.curse__inner {
    width: 50%;
    display: inline-block;
    background-image: url(/assets/img/block.svg), url(/assets/img/flag.svg);
    background-position: left 4%, 1.5% 7%;
    background-repeat: no-repeat;
    padding-left: 80px;
    line-height: 1.5;
    vertical-align: top;

}


.training__curse_title {


    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 18px;
    color: #354975;
    max-width: 439px;
    width: 100%;
    margin-bottom: 21px;



}

.training__curse_text {
    font-size: 16px;
    color: #4D5777;
    margin-bottom: 44px;

}

.training_block {
    font-size: 16px;
    font-family: 'Roboto-Regular';

    color: #151D29;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 20px;
}

.training_prep {
    font-size: 16px;

    color: #D6D6D6;
}

.training_prep::after {
    content: "";

    display: inline-block;

    width: 6px;
    height: 6px;
    border-right: 2px solid #00B3C1;
    border-bottom: 2px solid #00B3C1;
    margin-left: 5px;
    transform: rotate(-45deg);
    cursor: pointer;
}




.review {
    background: #E9F0F6;
    display: flex;
    padding-top: 95px;
    padding-bottom: 24px;
}

.review__block {


    display: flex;
    flex-wrap: wrap;

    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);

    justify-content: space-between;
}

.review__web {

    text-align: center;

    width: 100%;
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 67px;
    max-width: 330px;
}

.review__img {
    text-align: center;
    background: transparent;
    margin-bottom: 27px;
}


.reivew__text {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #151D29;
}

.news {
    padding: 92px 0;
}


.news__title {
    font-family: Roboto Slab;
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    color: #354975;
    font-weight: bold;
    margin-bottom: 26px;
}

.news__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);

}

.news__block__news {
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    max-width: 352px;
    padding: 0 15px;
    width: 33.33333%;
    color: #151D29;
    margin-bottom: 42px;
}

.blog_1 {
    margin-bottom: 20px;
}

.block_2 {
    opacity: .5;
    padding: 10px 0;
    margin-bottom: 10px;
}

.block_2:after {
    content: "";

    display: inline-block;

    width: 6px;
    height: 6px;
    border-right: 2px solid #00B3C1;
    border-bottom: 2px solid #00B3C1;
    margin-left: 5px;
    transform: rotate(-45deg);
    opacity: 1;
    cursor: pointer;

}

.block_3 {
    opacity: .5;
    padding: 10px 0;
}

.newsLink {
    text-align: center;
    margin-bottom: 74px;
}

.news__all {
    font-size: 16px;
    line-height: 1.2;
    color: #00B3C1;
    text-decoration: none;
    display: inline-block;

    text-align: center;
}

/* Rectangle */
.news__rectangle {

    max-width: 1256px;
    width: 100%;
    background: linear-gradient(90deg, #00B3C1 0%, #1188B2 100%);
    border-radius: 4px;
    margin-bottom: 45px;

    justify-content: space-between;

    padding: 0 81px;
    padding-top: 109px;
    padding-bottom: 43px;

    display: flex;

}


.news__rectangle_title {
    text-align: left;
    width: 100%;
    max-width: 245px;
}

.news__title_text {
    font-family: Roboto Slab;

    font-size: 28px;

    color: #FFFFFF;
    margin: 0;

}

.rectangle__content {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 696px;
    position: relative;

}

.rectangle__content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 100%;

    width: 85px;
    height: 45px;

    background-image: url("/assets/img/news__plane.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;



}

.news__email {
    border-radius: 100px;
    border: transparent;
    max-width: 456px;
    width: calc(100% - 240px);
    padding: 25px;
    font-size: 16px;
    color: #A2ABBD;
    outline: 0;
}


.btn__subscribe {
    max-width: 216px;
    width: 100%;
    padding: 25px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    background: transparent;

    color: #fff;

    font-size: 16px;
    margin-left: 24px;
    cursor: pointer;
    outline: 0;
}

.btn__subscribe:hover {
    border: 1px solid #00B3C1;
}

.email__text {
    text-align: center;
    font-size: 12px;

    color: #FFFFFF;
    top: 56px;
}

.rectangle__text {
    font-size: 12px;
    line-height: 1.2;

    color: #FFFFFF;
    text-align: center;
}



/* Rectangle */



.last__title {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;

    color: #4D5777;
    margin-bottom: 24px;
    white-space: pre-wrap
}


footer {
    background: #4D5777;
    padding: 91px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 111px;
}

.footer__content .footer__curse:first-child {
    max-width: 380px;
    width: 100%;

}

.footer__content .footer__curse:first-child .footerLink ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer__content .footer__curse:first-child li {
    width: 70%;
}

.footer__content .footer__curse:first-child li:nth-child(2n){
    width: 30%;
}

.footer__title {
    color: #fff;
    font-size: 16px;
    margin: 0;
}

.footer__curse {

    font-weight: bold;
    font-size: 16px;
    line-height: 2.5;

}

.footerLink ul {
    padding-left: 0;
}


.footerParent {
    display: flex;
}


li {
    list-style-type: none;
}


.footer__last {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    color: #A2ABBD;
}

.footerTransition {
    color: #A2ABBD;
    text-decoration: none;
    line-height: 1.5;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}

.footerTransition img {
    margin-right: 24px;
}

.mb-40 {
    margin-bottom: 40px;
}

/* burger */

.burger {
  display: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 15px 0;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #4d5777;
  font-size: 0;
  color: transparent;
  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #4d5777;
  left: 0;
  z-index: 1;
}

.burger__item:before {
  top: -8px;
}

.burger__item:after {
  bottom: -8px;
}



/* media */

@media (max-width: 1200px){

    .mainLink {
        max-width: 399px;
    }

    .wantprog__parent {
        padding-bottom: 0;
    }

    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        display: none;
    }

    .review__block {
        justify-content: center;
    }

    .curse__block {
        margin-bottom: 24px;
    }

    .owl-carousel .owl-stage-outer {
        display: flex;
    }

    .curse__inner {
        background-position: left 4%, 1.5% 6%;
    }
}

@media  (max-width: 980px) {

    .nav-h {
      display: none;
      width: 100%;
      flex-direction: column;
      position: absolute;
      right: 0;
      text-align: right;
      top: 100%;
      background-color: #fff;
    }

    .nav-h.show {
      display: flex;
    }

    .link-h {
      padding: 9px 16px;
    }

    .burger {
      display: block;
    }

    .headerParent {
      justify-content: space-around;
      position: relative;
    }

    .reg {
      position: absolute;
      right: 10%;
      margin-right: 50px;
    }

    .wantprogText {
        font-size: 30px;
    }

    .btn-first {
        max-width: 200px;
    }

    .takecurse {
        padding: 30px 0 30px;
    }

    .curse__block {
        width: 290px;
    }

    .curse__inner {
        width: 100%;
        padding: 0;
        background-image: none;
        margin-bottom: 20px;
    }

    .news__rectangle {
      padding: 0;
      padding-top: 66px;
    }

    .news__email {
        width: 100%;
        margin-right: 24px;
        margin-bottom: 30px;
    }

    .training__img {
        width: 60%;
    }

    .btn__subscribe {
    height: 77px;

    }


    .footer__content {
        display: block;
        width: 100%;
        margin-bottom: 50px;
        position: relative;
        left: 15%;
    }

    .footer__curse {
        font-size: 17px;
        display: inline-block;
        max-width: 360px;
        width: 50%;
        padding: 0 102px;
        margin-bottom: 50px;
    }

    .footer__content .footer__curse:first-child {
        max-width: 760px;
        width: 100%;
        margin-bottom: 50px;
    }

    .footer__curse:last-child {
        padding: 0;
        text-align: center;
        max-width: 760px;
        width: 100%;
    }
}

@media  (max-width: 760px) {
    .nav-h {
        display: none;
    }
    .wantprogText {
        font-size: 20px;
    }

    .call {
      display: none;
    }


    .buttons {
        display: none;
    }

    .choose__curse {
        display: block;
    }

    .curse__block-curse {
        max-width: 295px;
        padding-bottom: 30%;
        padding-left: 43%;
    }
    .take_curse.curseFirst {
        padding: 0;
    }


    .owl-curse {
        width: calc(100% + 10px);
    }

    .no-js .owl-carousel, .owl-carousel.owl-loaded {
        display: block;
        padding-left: 87px;
    }


    .news__rectangle {
        padding: 60px 0;
    }

    .news__email {
        font-size: 12px;
    }


    .news__block__news {
        width: 100%;
    }

    .btn__subscribe {
        max-width: 180px;
        width: 100%;
        font-size: 13px;
    }

    .news__title_text {
        font-size: 20px;
    }

    .rectangle__text {
        font-size: 11px;
    }


}

@media  (max-width: 540px) {

    .link-h {
        font-size: 12px;
    }

    .btn {
        padding: 9.5px 21px;
        font-size: 12px;
    }


    .takecurse {
        display: none;
    }

    .curse {
        padding-top: 20px;
    }

    .curse__item {
      display: none;
    }

    .fone {
      top: 40%;
    }

    .wantprog::after {
      top: 40%;
    }

    .curse__title {
        font-size: 20px;
    }

    .curse__text {
        font-size: 14px;
        margin-bottom: 0;
    }

    .curse__block-curse {
        padding-left: 0;
        margin: auto;
    }

    .curse__block-curse {
        padding-bottom: 40%;
    }

    .curse__title-curse-first {
        font-size: 20px;
    }

    .curse__text-curse-first {
        font-size: 16px;
    }


    .rectangle__content::before {
        display: none;
    }

    .news__rectangle {
        padding: 40px 0;
    }

    .news__rectangle_title {
        display: none;
    }


    .btn__subscribe {
        width: 100%;
    }

    .btn__subscribe {
        margin: auto                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ;
    }

    .rectangle__text {
        font-size: 11px;
        padding: 0 80px;
    }

    .footer__content .footer__curse:first-child {
        text-align: left;
    }

    .footer__content .footer__curse:first-child {
      max-width: 410px;
    }

    .footer__curse {
        padding: 0;
        width: 100%;
    }

    .footer__last {

        text-align: center;

    }

}
